<nav>
  <ul>
    <li><a href="{{ site.baseurl }}/">Inicio</a></li>
    <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
    <li>
      <a href="#">Viajes</a>
      <ul>
        <li><a href="{{ site.baseurl }}/viajes/sanpedrodeatacama/">San Pedro de Atacama</a></li>
        <li><a href="{{ site.baseurl }}/viajes/valledelelqui/">Valle del Elqui</a></li>
        <li><a href="{{ site.baseurl }}/viajes/torresdelpaine/">Torres del Paine</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/about/">Nosotros</a></li>
  </ul>
</nav>
